$body_bg_color: #f3f3f5;
$brand_text_color: #037C8C;

// not bad brand colors:
// #F9E036; #EDE079; #f3f3f5;


$main_color: #F9E036;
$main_darken_color: rgb(255, 195, 14);
//$link_color: #275acd;
//$bold_color: #00004b;
$brand_gradient_start: rgb(255, 236, 0);
$brand_gradient_end: rgb(255, 255, 255);

$footer_bg_color: #2A2A3A;
$footer_color: #8e8e8e;
$footer_link_color: #fff;
$footer_menu_bg_color: #343453;
